<div id="<%= dom_id category %>">
  
  <img src="<%= category.icon %>">
  <h4>
    <strong>Category:</strong>
    <%= category.name %>
  </h4>

  <p>
    <strong>Category transactions:</strong>
    <% category.transactions.each do |item| %>
    <br><br><p><%= item.name %></p>
    <h4>Amount: </h4><p><%= item.amount %></p>
    <% end %>
  </p>

</div>
