<p style="color: green"><%= notice %></p>

<%= render @category %>

<div>
  <br><%= link_to "All my categories", categories_path %>
  <br><%= link_to "All my transactions", transactions_path %>
  <br><%= link_to "Add new Transaction", new_transaction_path %>

  <%= button_to "Delete", @category, method: :delete %>
</div>
