<div class="container mt-3">
<%= form_with(model: transaction) do |form| %>
  <% if transaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount %>
  </div>
  
  <div>
    <%= form.label :category, class:"my-1", style: "display: block" %>
    <%= form.collection_select :category_id, @categories, :id, :name, include_blank: true, class:"form-select" %>
  </div>

  <div>
    <%= form.submit "Add transaction", class:"mt-3 btn btn-primary btn-sm" %>
  </div>
  </div>
<% end %>
