<div id="<%= dom_id transaction %>">
  <p>
    <strong>Name:</strong>
    <%= transaction.name %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= transaction.icon %>
  </p>

  <p>
    <strong>Users:</strong>
    <%= transaction.users_id %>
  </p>

  <p>
    <strong>Categories:</strong>
    <%= transaction.categories_id %>
  </p>

</div>
