<div id="<%= dom_id transaction %>">
  <p>
    <strong>Name:</strong>
    <%= transaction.name %>
  </p>

  <p>
    <strong>Amount: </strong>
    $<%= transaction.amount %>
  </p>

  <p>
    <strong>Category:</strong>
    <a href="/categories/<%= transaction.category_id %>"><%= transaction.category.name %></a>
  </p>

</div>
